<!--<div class="container">
        <a href="#caste-equation/1"><button type="button" class="btn btn-primary btn-circle btn-xl col-md-2" >Caste
            <br>Equation</button></a>
        <button type="button" class="btn btn-default btn-circle btn-xl col-md-2">Beneficiary</button>
        <button type="button" class="btn btn-success btn-circle btn-xl col-md-2">Grivience</button>
       <button type="button" class="btn btn-info btn-circle btn-xl col-md-2" >Communication</button>
        <button type="button" class="btn btn-warning btn-circle btn-xl col-md-2">Calendar</button>
        
</div>
<br>-->




<div class="container">
    <div class="row" style="box-shadow: 0px 0px 26px 0px rgba(136, 136, 136, 0.7);padding:20px;border-radius:5px;margin-top:40px;width:30%;margin-left:37%;">
        <div xmlns="http://www.w3.org/1999/xhtml" id="templatemo_content">

            <h2><span>Contact US</span></h2>
          
                <table style="width: 300px">
                   
                    <tr>
                        <td>Write to sharaschandra@rajneethi.com <br>Tel.No. +91 9986277393 </td>
                    </tr>
                   
                    <tr>
                        <td>
                            <p style="padding-top:40px;"><strong>Corporate office address:</strong></p>
                            <p>NO-270 OLD NO-26, 1ST  FLOOR.<br />
                            7th CROSS, BSK 1st STAGE 2ND BLOCK,<br />
                           Bangalore<br />
                            KARNATAKA-560050.</p>
                        </td>
                    </tr>

                </table>
            

           
        </div>
    </div>
    
    </div>


 