<style>
    h4
    {
        margin-top:20px;
        font-weight:bold;
        margin-bottom:20px;
        
    }
     p
    {
        margin-top:5px;
        
    }
    </style>


<div class="container">

    <div class="row" style="box-shadow: 0px 0px 26px 0px rgba(136, 136, 136, 0.7);padding:20px;border-radius:5px;margin-top:40px;">
        <h2 style="margin-bottom: 20px;text-align: center;">Services</h2>
        <h4>Constituency Profiling</h4>
        <p>
            Using Constituency Profile management Software The efficiency and success of your campaign hinges on knowing your electorate, trends, issues, Party workers of your constituency.
            Constituency Profile is detailed Polling Booth wise Political Analysis of a Constituency. The profile consists information on Present Political, Cast Composition, Influential Persons, Political Relevant Issues', Party workers, Election Results and voter Profile.
            The Constituency Profile is accompanied by an analysis of last election result to understand which community voted how much i.e. turnout and for whom i.e. favor of party affiliation. A SWOT Analysis of Polling Booths is also done and areas of opportunity are identified.
            The Profiling is typically done for MLAs MPs and Aspiring Political Leaders who are looking to fight the election from a particular constituency. This data supplements existing understanding of the Leader.
            Constituency management allows leaders to manage and control their constituencies in a more effective way.
        </p>
        <h4>Voter base profiling</h4>
        <p>
            Using Voter Profile Management Software. The efficiency and success of your campaign hinges on knowing your electorate. Voter base profiling, ground research and hours of analysis go into collecting data on voter caste, economic strategy, education, age, family tree to build a strong foundation for successful political campaign.
        </p>
        <p>
            Population - Such as age, sex, caste/creed, education, family tree.
        </p>

        <p>
            Households - Such as total households, total family households, average household size.
        </p>
        <p>
            Income - such as household income, per capita income.
        </p>
        <p>
            Housing - such as owner-occupied units, renter-occupied units, vacant units.
        </p>


        <h4>Opinion Polls</h4>
        <p>
            Opinion polls are an important tool to gauge the mood of the voters. The Swing in the mood of the voters is identified along different demographical splits like - caste, economic strata, education, age and sex,
        </p>

        <h4>Campaign Management</h4>
        <ul xmlns="http://www.w3.org/1999/xhtml">
            <li>
                <p>
                    Election campaign - the final battle. If one wins this, one wins the Heart &amp; WAR. Our strategical Approach for Campaign management is using latest techniques &amp; Best practices.
                </p>
            </li>
            <li>
                <p>
                    Our Campaign Management Strategy:
                </p>
            <li>-	Creating War Room</li>
            <li>-	Last 3 Days GOTV "Get out the vote"</li>
            <li>-	Identity Crisis</li>
            <li>-	The Final Punch</li>
            <li>-	Last 3 weeks i.e. 21 days</li>
            <li>-	2-3 % Vote Shift</li>
            <li>-	Last Phase Trends</li>
            <li>-	Segmented Strategies</li>
            <li>-	Customized study</li>
            <li>-	Complete Operational control</li>

        </ul>
        <h4>Creative & Innovative Campaign relationship Manager</h4>

        <p xmlns="http://www.w3.org/1999/xhtml">
            <ul>
                <li>-	Setup control room to centralize all campaign related activities</li>
                <li>-	Documentary Films made after travelling your State/ Constituency</li>
                <li>-	Automated voice - calling in the voice of leader or popular T V artists appealing for votes</li>
                <li>-	Live streaming of events/leader visits to in neighboring districts</li>
                <li>-	SMS campaigns</li>
                <li>-	Social Networks</li>
                <li>-	Publicity Events</li>
                <li>-	Trigger Based Media Control</li>
            </ul>
        </p>

        <h4>Manifesto creation</h4>
        <p>
            <ul xmlns="http://www.w3.org/1999/xhtml">
                <li>-	Policy making</li>
                <li>-	Convey policy statement to the voters</li>
                <li>-	Creating Agendas taking into views of the voters</li>
            </ul>
        </p>

        <h4>Content Analysis</h4>
        <p>

            <ul>
                <li>-	Print and Visual media Analysis</li>
                <li>-	Opposition Research</li>
                <li>-	Watch dogs</li>
            </ul>

        </p>

        <h4>Election monitoring</h4>
        <h4>Fund raising</h4>
        <p style="color:red;">Rajneethi has come up with an advanced technology to help the Govt. and its Minister's portfolio which keeps the Public and Private work updated. It has an unique revolutionary methodology called "Annual report" for State/Constituency/Minister's Portfolio.</p>


    </div>
</div>