
<admin-Nav></admin-Nav>
<div class="container text-center">
    <div class="row text-center">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default" style="border-color: rgba(91, 192, 222, 0.71);margin-top:30px;box-shadow: 0px 0px 26px 0px rgba(136, 136, 136, 0.7)">
                <div class="panel-body">
                    <h3 style="margin-top:0px;">Fill the bellow form to Ask Question</h3>
                    <p style="color:#c3c0c0">We are happy that you used Rajneethi and we hope you enjoyed our services</p>
                    <div>
                        <input id="Project Id" name="name" placeholder="Name" ng-model="equestionDetails.name"  style="margin-bottom:10px; margin-bottom:10px;" type="text" class="form-control" required />
                        <!--<input id="name" name="name" placeholder="Display Name" ng-model="equestionDetails.DisplayType" style="margin-bottom:10px; margin-bottom:10px;" type="text" class="form-control" required />-->
                        <select style="margin-bottom:10px; margin-bottom:10px;" ng-model="equestionDetails.DisplayType" type="text" class="form-control" name="Status">
                            <option value="" selected="selected">--Select Display Type --</option>
                            <option value="PIE">PIE</option>
                            <option value="GRID">GRID</option>
                        </select>
                        <!--<input id="name" name="name" placeholder="Constituency Id" ng-model="equestionDetails.constituencyId" style="margin-bottom:10px; margin-bottom:10px;" type="text" class="form-control" required />-->
                        <select style="margin-bottom:10px; margin-bottom:10px;" type="text" ng-model="equestionDetails.constituencyId" class="form-control" name="Status">
                            <option value="" selected="selected">--Select Constituency --</option>
                            <option value="{{con.id}}" ng-repeat="con in constituency" ng-selected="con.name==equestionDetails.constituencyName">{{con.name}}</option>
                           
                        </select>
                        <select style="margin-bottom:10px; margin-bottom:10px;" ng-model="equestionDetails.Activation" type="text" class="form-control" name="Status">
                            <option value="" selected="selected">--Select Active/Deactive Flag --</option>
                            <option value="Active">Active</option>
                            <option value="Deactive">Deactive</option>
                        </select>
                      
                        <select style="margin-bottom:10px; margin-bottom:10px;" ng-show='buttonshow' ng-model="question.questionType" type="text" ng-change="showhidebutton(question.questionType)" class="form-control" name="Status">
                            <option value="" selected="selected">--Select Question Type--</option>
                            <option value="singleinput">single input</option>
                            <option value="singlechoice">single choice</option>
                            <option value="multiplechoice">multiple choice </option>
                            <option value="phoneinput">phone input</option>
                          
                        </select>
                        <select style="margin-bottom:10px; margin-bottom:10px;" ng-show='!buttonshow'disabled ng-model="question.questionType" type="text" ng-change="showhidebutton(question.questionType)" class="form-control" name="Status">
                            <option value="" selected="selected">--Select Question Type--</option>
                            <option value="singleinput">single input</option>
                            <option value="singlechoice">single choice</option>
                            <option value="multiplechoice">multiple choice </option>
                            <option value="phoneinput">phone input</option>

                        </select>
                        <select style="margin-bottom:10px; margin-bottom:10px;" ng-model="equestionDetails.mandatoryFlag" type="text" class="form-control" name="Status">
                            <option value="" selected="selected">--Select Optional/Mandatory Flag --</option>
                            <option value="Optional">Optional</option>
                            <option value="Mandatory">Mandatory</option>
                        </select>
                        <!--<select style="margin-bottom:10px; margin-bottom:10px;" type="text" class="form-control" ng-model="Status" name="Status">
                            <option value="" selected="selected">-- User Role  --</option>
                            <option value="{{status}}" ng-repeat="status in Status" ng-selected="status==grievienceDetails.ProjectSubType">{{status}}</option>
                        </select>-->
                        
                         
                        <input id="attributeName" name="name" placeholder="Attribute Name" ng-model="question.attributeName" style="margin-bottom:10px; margin-bottom:10px;" type="text" class="form-control" required>
                        <select style="margin-bottom:10px; margin-bottom:10px;" type="text" ng-model="question.supportAggregation" class="form-control" name="Status">
                            <option value="" selected="selected">--Select Support Aggregation --</option>
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                        <select style="margin-bottom:10px; margin-bottom:10px;" ng-model="question.cotainsAttachment" type="text" class="form-control" name="Status">
                            <option value="" selected="selected">--Select Cotains Attachment --</option>
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                        <input id="aggregationDisplay" name="name" placeholder="Aggregation Display" ng-model="question.aggregationDisplay" style="margin-bottom:10px; margin-bottom:10px;" type="text" class="form-control" required>
                        <input id="title" name="name" placeholder="Title" ng-model="question.title" style="margin-bottom:10px; margin-bottom:10px;" type="text" class="form-control" required>
                        <input id="questionText" name="name" placeholder="Question" ng-model="question.questionText" style="margin-bottom:10px; margin-bottom:10px;" type="text" class="form-control" required>
                        <div class="row" ng-repeat="status in ansch">
                            <div class="col-md-9">
                                <input id="answerChoices"  name="name" placeholder="AnswerChoices" ng-model="status.text" style="margin-bottom:10px; margin-bottom:10px;" type="text" class="form-control" required>

                            </div>
                            <div class="col-md-3" style="margin-top:8px">
                                <a  ng-click="RemoveChoices(status.id)" style="color:red">Remove</a>
                            </div>
                        </div>
                        <!--<button class="btn btn-success pull-right"  ng-click="AddChoices()">Add Answer Choices</button>-->
                        <a ng-show="!showbutton" ng-hide="!buttonshow" ng-click="AddChoices()" style="cursor:pointer">Add More Answer Choices</a>
                   
                        <!--<input id="name" name="name" placeholder="Rewards" ng-model="grievienceDetails.Rewards" style="margin-bottom:10px; margin-bottom:10px;" type="text" class="form-control" required>
                        <datepicker date-format="yyyy-MM-dd">
                            <input type="text" class="form-control" id="date" ng-model="grievienceDetails.Date" placeholder="YYYY-MM-DD" value="July, 16th, 2009">
                        </datepicker>-->





                      
                    </div>
                    <br/>
                    <br />
                   

                    <button class="btn btn-success pull-right" ng-show='!buttonshow' ng-click="UpdateData()">Update</button>
                    <button class="btn btn-success pull-right" ng-show='buttonshow' ng-click="InsertData()">Done</button>
                    <button class="btn btn-primary pull-right" ng-click="cancel()" style="margin-right:10px;width:113px;">Cancel</button>
                   
                </div>
            </div>
        </div>
    </div>
</div>



>

