<client-Nav></client-Nav>
<div class="container" style="margin-top:20px;">
    <div>
        <autocomplete class="col-md-10" ng-model="selectedBooth" data="booths" on-type="updateMovies" placeholder="Choose booth"></autocomplete >
        <button class="btn btn-primary col-md-2"  ng-click="getSurveyData(selectedBooth)" style="height:40px;">Show Chart</button>
    </div>
    
</div><br><br>
<md-select placeholder="Assign to user" ng-model="selectedBooth"  style="min-width: 200px;">
    <md-option ng-value="booths.booth_panchayat_name" ng-repeat="booths in booths">{{booths.booth_panchayat_name}}</md-option>
</md-select>
<!--<div id="chart" style="width: 800px; height: 600px; margin: 0 auto"></div>-->
    
   
<div ng-repeat="gph in graphs">
    <h1 ng-if="gph.height" style="text-align: center; color: blue; padding-bottom: 20px;">{{gph.name}}</h1>
    <div id="container{{gph.IDX}}" style="min-width: 310px; height: {{gph.height}}px; margin: 0 auto;" >

        <!--<h1 ng-show="gridOptions.data">feedbackOnOpponent</h1>-->
        <div id="grid{{gph.IDX}}" ui-grid="gph.gridOptions" style="width: 500px;height: 200px;margin-left: 417px;"  class="grid"></div>


    </div>
</div>

