body {
}

.clientGridRow {
    font-size: 18px;
    padding: 10px 0px;
    text-align: center;
    font-size: 14px;
}


.gridHeaderRowColumnDataItem{
    text-align:center;
}

.gridRowColumnDataItem{
    text-align:center;
}

.spiel{
        padding-top: 24px;
    margin: 0 0 0 0;
    display: inline-block;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    font-family: "TypoPRO Comic Neue", Comic Sans MS, "Comic Sans MS", Arial, sans-serif;
}


.circle {
    margin: 25px 10px;
    width: 200px;
    color: #fff;
    font-size: 32px;
    line-height: 200px;
    text-align: center;
    height: 200px;
    border-radius: 100px;
}

.circle a {
    color:#fff;
        text-decoration-line: none;
}

.bg-green {
    background: #5bd5a0;
}

.circles {
    padding: 0;
}


span3 {
    width: 220px;
}

.containerNew {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    position: relative;
    padding: 36px 0;
    overflow: visible;
}

.bg-yellow {
    background: #ffcc35;
}

.bg-blue {
    background: #1daee9;
}

.bg-red {
    background: #eb3980;
}

.bg-purple {
    background: #c843a5;
}

.sidebar {
    top: 20px;
}
