<div class="container-white">
	<div class=" circles">
		<div class="row" style="height: 50px; background-color: #f8f8f8;">
			<div class="container-white" style="padding: 5px;">
					<div class="col-md-5">
						<div>
							<autocomplete class="col-md-12" ng-model="selectedBooth" data="booths" placeholder="Choose booth"></autocomplete >
						</div>
					</div>
					<div class="col-md-5">
						<div>
							<autocomplete class="col-md-12" ng-model="selectedCaste" data="castes" placeholder="Choose caste"></autocomplete >
						</div>
					</div>
					<div class="col-md-2">
						<div>
							<button class="btn btn-primary"  ng-click="showchart(selectedBooth)" style="margin-top: 3px;">Filter</button>
						</div>
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 span3">
				<div id="default" style="width: 100%; height: 650px">
					
				</div>
			</div>
			<div class="col-md-2 span3 sidebar">
				<!-- <ul> -->
					<div ng-mouseenter="options[0]=true" ng-mouseleave="options[0]=false">
						<a href="#caste-equation/{{projectId}}">
							<i class="fa fa-users" aria-hidden="true"></i> <span ng-show="options[0]">Cast Equations</span>
						</a>
					</div>
					<div ng-mouseenter="options[1]=true" ng-mouseleave="options[1]=false">
						<a href="#survey/{{projectId}}">
							<i class="fa fa-users" aria-hidden="true"></i> <span ng-show="options[1]">Survey Report</span>
						</a>
					</div>
					<div ng-mouseenter="options[2]=true" ng-mouseleave="options[2]=false">
						<a href="#history/{{projectId}}">
							<i class="fa fa-bullseye" aria-hidden="true"></i> <span ng-show="options[2]">Swot Analysis</span>
						</a>
					</div>
					<div ng-mouseenter="options[3]=true" ng-mouseleave="options[3]=false">
						<a href="#beneficiary/1">
							<i class="fa fa-hand-paper-o" aria-hidden="true"></i> <span ng-show="options[3]">Beneficiary</span>
						</a>
					</div>
					<div ng-mouseenter="options[4]=true" ng-mouseleave="options[4]=false">
						<a href="#grievience/1">
							<i class="fa fa-users" aria-hidden="true"></i> <span ng-show="options[4]">Grivience</span>
						</a>
					</div>
					<div ng-mouseenter="options[5]=true" ng-mouseleave="options[5]=false">
						<a href="#AllfundsManagent">
							<i class="fa fa-usd" aria-hidden="true"></i> <span ng-show="options[5]">Funds</span>
						</a>
					</div>
					<div ng-mouseenter="options[6]=true" ng-mouseleave="options[6]=false">
						<a href="#jobs/1">
							<i class="fa fa-universal-access" aria-hidden="true"></i> <span ng-show="options[6]">Jobs</span>
						</a>
					</div>
					<div ng-mouseenter="options[7]=true" ng-mouseleave="options[7]=false">
						<a href="#form">
							<i class="fa fa-mobile" aria-hidden="true"></i> <span ng-show="options[7]">Communicate</span>
						</a>
					</div>
					<div ng-mouseenter="options[8]=true" ng-mouseleave="options[8]=false">
						<a href="#">
							<i class="fa fa-folder-open" aria-hidden="true"></i> <span ng-show="options[8]">Property</span>
						</a>
					</div>
			</div>
		</div>
	</div>
</div>