<client-Nav></client-Nav>
<div class="container text-center">
    <div class="row text-center">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default" style="border-color: rgba(91, 192, 222, 0.71);margin-top:30px;box-shadow: 0px 0px 26px 0px rgba(136, 136, 136, 0.7)">
                <div class="panel-body">
                    <h3 style="margin-top:0px;"ng-show="flag=='-1'">Fill the bellow form to Add Jobs</h3>
                    <h3 style="margin-top:0px;"ng-show="flag!='-1'">Fill the bellow form to Edit detail of Beneficiary</h3>
                    <p style="color:#c3c0c0">We are happy that you used Rajneethi and we hope you enjoyed our services</p>
                    <div>
					 <input id="candidatename" placeholder="Candidate Name"style="margin-bottom:10px;" type="text" class="form-control" required >
                       
					   <datepicker date-format="yyyy-MM-dd">
                            <input type="text" class="form-control" id="date" ng-model="datetoadd" placeholder="DOB" value="July, 16th, 2009">
                        </datepicker>
						<br>
						<br>
						
						
						<select id="type" style="margin-bottom:10px; margin-bottom:10px;" type="text" class="form-control"  name="type">
                            <option value="" selected="selected">-- Select Sex --</option>
                            <option value="male" >Male</option>
							<option value="male" >Female</option>
						</select>
 
                       <select id="type" style="margin-bottom:10px; margin-bottom:10px;" type="text" class="form-control"  name="type">
                            <option value="" selected="selected">Select Qualification</option>
                            <option value="10" >10th</option>
							<option value="12" >12th</option>
							<option value="diploma">Diploma</option>
							<option value="graduate" >Graduate</option>
							<option value="postgraduate" >Post Graduate</option>
								
					   </select>
                        
					 <div class="form-group">
                            <input type="file" id="filecontrol" name="a" class="file" style="display: none;">
                            <div class="input-group col-xs-12">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-upload"></i></span>
                                <input type="text" class="form-control input-md" disabled placeholder="Uplode cv file">
                                <span class="input-group-btn">
                                    <button class="browse btn btn-primary input-md" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
                                </span>
                            </div>
                        </div>
						                       
						<input id="lookingfor"  placeholder="Looking For" style="margin-bottom:10px;" type="text" class="form-control">
                        
						<input id="voter"  placeholder="Voter ID" style="margin-bottom:10px;" type="text" class="form-control">
						
						<input id="aadhar"  placeholder="Aadhar ID" style="margin-bottom:10px;" type="number" class="form-control">
						
						<input id="emailid"  placeholder="Email-ID" style="margin-bottom:10px;" type="email" class="form-control">
						
						<input id="mobile"  placeholder="Mobile Number" style="margin-bottom:10px;" type="number" class="form-control">
						
						<input id="address"  placeholder="Address" style="margin-bottom:10px;" type="text" class="form-control">
						
						<input id="tellme" placeholder="Tell me" style="margin-bottom:10px;" type="text" class="form-control">
          
                        <!--<input id="name" name="name" placeholder="Date" style="margin-bottom:10px;" type="text" class="form-control" required style="margin-bottom:10px;">-->
                        <!--<div class="col-md-6 col-sm-6 col-xs-12">
                            <datepicker date-format="MM/dd/yyyy">
                                <input type="text" class="form-control" id="expiry" placeholder="MM/DD/YY">
                            </datepicker>

                        </div>-->
                        <!--<div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>-->
                        <!--<datepicker>
                            <input ng-model="date" type="text" />
                        </datepicker>-->
                        
                         <!--<textarea class="form-control counted" id="message" name="message" placeholder="Type in your message" rows="5" style="margin-bottom:10px;" ng-keydown="charactercount($event)"></textarea>-->
                        <!--<div>
                            <h6 ng-show="length!=0" style="text-align: right;margin-right:10px">
                                <span ng-show="length!=0" style="text-align: left;margin-left:10px">{{Messagelength}} characters </span>
                                {{length}} Messages
                            </h6>
						</div>-->
                        <!--<div class="form-group">
                            <input type="file" id="filecontrol" name="a" class="file" style="display: none;">
                            <div class="input-group col-xs-12">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-upload"></i></span>
                                <input type="text" class="form-control input-md" disabled placeholder="Uplode csv file">
                                <span class="input-group-btn">
                                    <button class="browse btn btn-primary input-md" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
                                </span>
                            </div>
                        </div>-->

                    </div>
                        
                        <!--<textarea class="form-control counted" id="mobile_no" name="mobile" placeholder="Mobile No" rows="3" style="margin-bottom:10px;"></textarea>-->
                    <br />
                    <br />
                  
                    <br />
                        <button class="btn btn-success pull-right" ng-show="flag=='-1'" ng-click="">Save Jobs</button>
                        <button class="btn btn-success pull-right"ng-show="flag!='-1'" ng-click="Editbeneficiary()">Edit Jobs</button>
                   
                        <a href="#beneficiary/1">
                         <button class="btn btn-primary pull-right" style="margin-right:10px;width:113px;">Cancel</button>
                        </a>    
                   
                    <button class="btn btn-danger pull-right" ng-show="isEdit" style="margin-right:10px;width:113px;" ng-click="Removebeneficiary()">Delete</button>

                         <button class="btn btn-warning pull-right" ng-show="flag=='-1'" ng-click="reload()" style="margin-right:10px;width:113px;">Reset</button>
                       
                         <!--<h6 class="pull-left" id="counter">320 characters remaining</h6>-->
                    </div>

                
                </div>
            </div>
        </div>
    </div>
<script>$(document).on('click', '.browse', function () {
    var file = $(this).parent().parent().parent().find('.file');
    file.trigger('click');
});
      $(document).on('change', '.file', function () {
          $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
      });</script>

  <!--<script>$(document).on('click', '.browse', function () {
    var file = $(this).parent().parent().parent().find('.file');
    file.trigger('click');
});
      $(document).on('change', '.file', function () {
          $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
      });</script-->>
<!--<script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
</script>-->