<client-Nav></client-Nav>
<div class="container"  style="margin-top:20px;">
    <div>
        <autocomplete class="col-md-10" ng-model="selectedBooth" data="booths" on-type="updateMovies" placeholder="Choose booth"></autocomplete >
        <button class="btn btn-primary col-md-2"  ng-click="getSurveyData(selectedBooth)" style="height:40px;">Show Chart</button>
    </div>
</div><br><br>
<!--<div ng-repeat="gph in graphs"></div>-->
    <!--<div id="chart" style="width: 800px; height: 600px; margin: 0 auto"></div>-->

    
       

    
        <div id="graphscontainer2" ></div>

<div id="graphscontainer1"></div>

   

        <!--<div id="containerpi" style="min-width: 310px; height: 100px; margin: 0 auto;">
        </div>-->
<hr />
<div id="graphscontainer" class="row">

</div>
    <div id="container{{gph.IDX}}" style="min-width: 310px; height: {{gph.height}}px; margin: 0 auto;" ng-repeat="gph in graphs">

    </div>

    <!--<div id="chart" style="width: 800px; height: 600px; margin: 0 auto"></div>
    <div id="container2" style="min-width: 310px; height: {{gph.height}}px; margin: 0 auto;" >
    </div>
    <div id="chart" style="width: 800px; height: 600px; margin: 0 auto"></div>
    <div id="container3" style="min-width: 310px; height: {{gph.height}}px; margin: 0 auto;" >
    </div>-->
    <!--<div id="container" style="min-width: 310px; height: {{gph.height}}px; margin: 0 auto;" ng-repeat="gph in graphs">
        </div>-->
    <!--<div ng-repeat="gph in graphs">
        <h1 ng-if="gph.height" style="text-align: center; color: blue; padding-bottom: 20px;">{{gph.name}}</h1>
        <div id="container{{gph.IDX}}" style="min-width: 310px; height: {{gph.height}}px; margin: 0 auto;">


            <div id="grid{{gph.IDX}}" ui-grid="gridOptions" style="width: 500px;height: 200px;margin-left: 417px;" ng-if="gridOptions.data.length>0" class="grid"></div>


        </div>
    </div>-->
