<!--<div class="container">
        <a href="#caste-equation/1"><button type="button" class="btn btn-primary btn-circle btn-xl col-md-2" >Caste
            <br>Equation</button></a>
        <button type="button" class="btn btn-default btn-circle btn-xl col-md-2">Beneficiary</button>
        <button type="button" class="btn btn-success btn-circle btn-xl col-md-2">Grivience</button>
       <button type="button" class="btn btn-info btn-circle btn-xl col-md-2" >Communication</button>
        <button type="button" class="btn btn-warning btn-circle btn-xl col-md-2">Calendar</button>
        
</div>
<br>-->






<section class="section">
    <div class="container">
       
        <div class="row" style="box-shadow: 0px 0px 26px 0px rgba(136, 136, 136, 0.7);padding:20px;border-radius:5px;margin-top:40px;">
            <h2 style="margin-bottom:20px;text-align: center;">Careers</h2>

            <p>You have unique experiences, skills and passions - and we believe you can bring them all to Rajneethi for a rich, rewarding carres and lifestyle that will surprise you with its breadth and potential. Just imagine the excitement and satisfaction of what you can do, where you can go, and the difference you can make with the resources of Rajneethi behind you.</p>
            <p> We are seeking Passionate outstanding candidates with a wide range of backgrounds to help us slove our client's most critical political issuses and problems.</p>
            <p>We provide constant learning to the employees through various courses and workshops, as we strongly belive that the growth of the company is directly proportional to the growth of its employees.</p>
            <p> Mention your Passion, Interests, Strength, Not a conventional CV.</p>
            <p>To become a part of Rajneethi, write to sharaschandra@rajneethi.com</p>




        </div>
</div>
    </section>

   




  