<div ng-include="'views/home/header.html'"></div>

<section>
	<div class="row" style="margin-bottom: 0; height: 70px; background-color: #f8f8f8;">
		<form name="filterBooths" id="filterbooths">
			<div class="row">
				<div class="input-field col s5">
					<angucomplete-alt id="ac_booth"
						placeholder="Choose the booth"
						pause="100"
						selected-object="selectedBooth"
						local-data="booths"
						search-fields="booth_panchayat_name"
						title-field="booth_panchayat_name"
						description-field="ward_taluk_name"
						minlength="1"
						input-class="form-control form-control-small"
						match-class="highlight"/>
				</div>
				<div class="input-field col s5">
					<angucomplete-alt id="ac_caste"
						placeholder="Choose a caste"
						pause="100"
						selected-object="selectedCaste"
						local-data="castes"
						search-fields="caste"
						title-field="caste"
						minlength="1"
						input-class="form-control form-control-small"
						match-class="highlight"/>
				</div>
				<div class="input-field col s2">
					<button class="btn waves-effect waves-light" type="submit" ng-click="showchart(selectedBooth)" style="margin-top: 3px;">Filter</button>

					<!-- <button class="btn waves-effect waves-light"  type="submit" ng-click="addMapping()">Add Mapping<i class="mdi-content-send"></i></button> -->
				</div>
			</div>
		</form>
	</div>
	<!-- </div> -->
	<div class="row">
		<div class="col s8" style="padding: 0">
			<div id="default" style="width: 100%; height: 80vh">
				
			</div>
		</div>
		<div class="col s4">
			<div>
				<nvd3 options="pieOptions" data="pieData"></nvd3>
			</div>
		</div>
	</div>
</section>