<section>
	<div ng-controller="AdminHeaderCtrl" class="navbar-fixed">
		<!-- Dropdown Structure -->
		<ul id="dropdown1" class="dropdown-content">
			<li>
				<a href="" ng-click="logout()">Logout</a>
			</li>
		</ul>
		<nav class="indigo darken-2">
			<div class="nav-wrapper">
				<a href="/" class="brand-logo"> Rajneethi </sup></a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
				<ul class="right hide-on-med-and-down">
					<li class="navTab aboutTab"><a href="/about">About Us</a></li>
					<li class="navTab careersTab"><a href="/careers">Careers</a></li>
					<li class="navTab servicesTab"><a href="/services">Services</a></li>
					<li class="navTab contactTab"><a href="/contact">Contact Us</a></li>
					<li class="navTab loginTab" ng-show="!username"><a href="/login">Login</a></li>
					<li class="navTab loginTab" ng-show="username" ng-click="logout()"><a href="#">Logout</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li class="navTab aboutTab"><a href="/about">About Us</a></li>
					<li class="navTab careersTab"><a href="/careers">Careers</a></li>
					<li class="navTab servicesTab"><a href="/services">Services</a></li>
					<li class="navTab contactTab"><a href="/contact">Contact Us</a></li>
					<li class="navTab loginTab" ng-show="!username"><a href="/login">Login</a></li>
					<li class="navTab loginTab" ng-show="username"><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</nav>
	</div>
</section>