<section>
	<div ng-controller="AdminHeaderCtrl" class="navbar-fixed">
		<!-- Dropdown Structure -->
		<ul id="dropdown1" class="dropdown-content">
			<li>
				<a href="" ng-click="logout()">Logout</a>
			</li>
		</ul>
		<nav class="indigo darken-2">
			<div class="nav-wrapper">
				<a href="/" class="brand-logo"> Rajneethi </sup></a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
				<ul class="right hide-on-med-and-down">
					<li class="navTab about_usTab"><a href="/about_us">About Us</a></li>
					<li class="navTab careersTab"><a href="/careers">Careers</a></li>
					<li class="navTab usersTab"><a href="/users">Users</a></li>
					<!-- Dropdown Trigger -->
					<li><a class="dropdown-button" href="#!" data-activates="dropdown1">Logout<i class="material-icons right">arrow_drop_down</i></a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li class="navTab about_usTab"><a href="/about_us">About Us</a></li>
					<li class="navTab careersTab"><a href="/careers">Careers</a></li>
					<li class="navTab usersTab"><a href="/users">Users</a></li>
					<li class="divider"></li>
					<li><a href="#" ng-click="logout()">Logout</a></li>
				</ul>
			</div>
		</nav>
	</div>
</section>