<div class="home" ng-init="init()" ng-controller="HomeCtrl">
	<section class="container-fluid" id="landing">
			<div class="row branding">
				
			</div>
        
       
			<img src="/assets/images/ic_launcher.png" style="margin-top: 20px;
    margin-left: 20px;"/>
			<div class="row message">
				<div class="col-xs-12 col-md-3" style="margin-top:10px;margin-bottom:10px;">{{ cms.landing.message }}</div>
			</div>
			
			<div class="row action">
				<div class="col-xs-12 col-md-4">
                    <!--<button type="button" ng-click="login()" class="btn btn-success">{{ cms.landing.action1 }}</button>-->
                    <a href="" ng-click="login()" class="btn btn-success">{{ cms.landing.action1 }}</a>
                    <a href="" ng-click="SignUp()" class="btn btn-primary">{{ cms.landing.action3 }}</a>
					<a href="" ng-click="AboutUs()" class="btn btn-default">{{ cms.landing.action2 }}</a>
                    <a href="" ng-click="login1()" class="btn btn-default">{{ cms.landing.action4 }}</a>

				</div>
			</div>
	
			<div class="row login" style="margin-top:10px;margin-bottom:10px;">
				<div class="col-xs-12 col-md-3">
					{{ cms.landing.loginMessage }}
					<a href="/assets/Rajneethi.apk" download>
						Android App <i class="fa fa-arrow-right"></i>
					</a>
				</div>
			</div>

			<div class="row social">
				<div class="col-xs-12 col-md-3">
					<a href='#' class='facebook'><i class="fa fa-facebook"></i></a>
					<a href='#' class='twitter'><i class="fa fa-twitter"></i></a>
				</div>
			</div>
	</section>
</div>