<div ng-include="'views/home/header.html'"></div>
<!-- <div class="row front-backdrop">

</div> -->

<div class = "iris">
	<div class="container">
		<div class="row">
			<img class="responsive-img parliament-img" src="images/parliament.png">
		</div>
		<div class="row">
			<div class="col s4 welcome-text">
				Strategize and stay ahead in polls with rich insights &amp; world class expertise from India's leading poll service provider
			</div>
		</div>
		<div class="row">
			<div class="col s2">
				<a href="/login" class="bg-indigo btn waves-effect waves-light">Login</a>
			</div>
			<div class="col s2">
				<a href="/signup" class="bg-indigo btn waves-effect waves-light">Signup</a>
			</div>
		</div>
	</div>
</div>