<!--<div class="container">
        <a href="#caste-equation/1"><button type="button" class="btn btn-primary btn-circle btn-xl col-md-2" >Caste
            <br>Equation</button></a>
        <button type="button" class="btn btn-default btn-circle btn-xl col-md-2">Beneficiary</button>
        <button type="button" class="btn btn-success btn-circle btn-xl col-md-2">Grivience</button>
       <button type="button" class="btn btn-info btn-circle btn-xl col-md-2" >Communication</button>
        <button type="button" class="btn btn-warning btn-circle btn-xl col-md-2">Calendar</button>
        
</div>
<br>-->


<nav class="navbar navbar-default" style="background:#1675b9;color:#fff;border-radius:0px;border:none;">

        <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
        </div>
        <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#">Home</a></li>-->
            <!--<li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Page 1-1</a></li>
                    <li><a href="#">Page 1-2</a></li>
                    <li><a href="#">Page 1-3</a></li>
                </ul>
            </li>-->
            <!--<li><a href="#">Page 2</a></li>-->
        </ul>
        <ul class="nav navbar-nav navbar">
            <li><a href="#clientprofile" style="color:#fff">Home</a></li>
            <li><a href="#form" style="color:#fff"> Send sms</a></li>
            <li><a href="#voicesms" style="color:#fff"> Voice sms</a></li>
            <li><a href="#report" style="color:#fff">Report</a></li>
            <!--<li><a href="#credit" style="color:#fff"> Buy credits</a></li>-->
        </ul>
   
</nav>

<div class="container text-center">
    <div class="row text-center">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default" style="border-color: rgba(91, 192, 222, 0.71);margin-top:30px;box-shadow: 0px 0px 26px 0px rgba(136, 136, 136, 0.7)">
                <div class="panel-body">
                    <h3 style="margin-top:0px;">Fill the bellow form to send sms</h3>
                    <p style="color:#c3c0c0">We are happy that you used Rajneethi and we hope you enjoyed our services</p>
                    <div>
                        <!--<input id="name" name="name" placeholder="Mobile No." type="number" class="form-control" required style="margin-bottom:10px;">-->
                        <textarea class="form-control counted" id="message" name="message" placeholder="Type in your message" rows="5" style="margin-bottom:10px;" ng-keydown="charactercount($event)"></textarea>
                        <div>
                            <h6 ng-show="length!=0" style="text-align: right;margin-right:10px">
                                <span ng-show="length!=0" style="text-align: left;margin-left:10px">{{Messagelength}} characters </span>
                                {{length}} Messages
                            </h6>
</div>
                        <div class="form-group">
                            <input type="file" id="filecontrol" name="a" class="file" style="display: none;">
                            <div class="input-group col-xs-12">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-upload"></i></span>
                                <input type="text" class="form-control input-md" disabled placeholder="Uplode csv file">
                                <span class="input-group-btn">
                                    <button class="browse btn btn-primary input-md" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
                                </span>
                            </div>
                        </div>

                    </div>
                        
                        <textarea class="form-control counted" id="mobile_no" name="mobile" placeholder="Mobile No" rows="3" style="margin-bottom:10px;"></textarea>

                        <button class="btn btn-info pull-right"  ng-click="sendMessage()">Send Message</button>
                        <button class="btn btn-info pull-right" ng-click="reload()" style="margin-right:10px;width:113px;">Reset</button>
                         <!--<h6 class="pull-left" id="counter">320 characters remaining</h6>-->
                    </div>
                </div>
            </div>
        </div>
    </div>


  <script>$(document).on('click', '.browse', function () {
    var file = $(this).parent().parent().parent().find('.file');
    file.trigger('click');
});
      $(document).on('change', '.file', function () {
          $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
      });</script>