<nav class="navbar navbar-default" style="background:#1675b9;color:#fff;border-radius:0px;border:none;">

    <div class="navbar-header">
        <a class="navbar-brand" href="#"></a>
    </div>
    <!--<ul class="nav navbar-nav navbar">
        <li><a href="#clientprofile" style="color:#fff">Home</a></li>
        <li><a href="#beneficiary/1"style="color:#fff">Beneficiary</a></li>
        <li><a href="#grievience/1"style="color:#fff">Grivience</a></li>
        <li><a href="#form"style="color:#fff">Communication</a></li>
        <li><a href="#AllfundsManagent"style="color:#fff">Funds Management</a></li>
        <li><a href="#history/1"style="color:#fff">History</a></li>
        <li><a href="#survey/1"style="color:#fff">Survey</a></li>

    </ul>-->


    <ul class="nav navbar-nav navbar">
        <li><a href="#user/1" style="color:#fff">Users</a></li>
        <li><a href="#createproject/1" style="color:#fff">Project</a></li>
        <li><a href="#Question/1" style="color:#fff">Question</a></li>
        <!--<li><a href="#clientprofile" style="color:#fff">Equation</a></li>
        <li><a href="#beneficiary/1" style="color:#fff">Election</a></li>
        <li><a href="#history/1" style="color:#fff">History</a></li>
        <li><a href="#survey/1" style="color:#fff">Survey</a></li>
        <li><a href="#report" style="color:#fff">Report</a></li>
        <li><a href="#form" style="color:#fff">Communication</a></li>
        <li><a href="#AllfundsManagent" style="color:#fff">Funds Management</a></li>
        <li><a href="#beneficiary/1" style="color:#fff">Beneficiary</a></li>
        <li><a href="#grievience/1" style="color:#fff">Grivience</a></li>-->
     
       
       
       

    </ul>
  
</nav>