<!--<nav class="navbar navbar-default" style="background:#1675b9;color:#fff;border-radius:0px;border:none;">

    <div class="navbar-header">
        <a class="navbar-brand" href="#"></a>
    </div>

    <ul class="nav navbar-nav navbar">
        <li><a href="#clientprofile" style="color:#fff">Home</a></li>
        <li><a href="#caste-equation/1" style="color:#fff">Caste-Equation</a></li>        
        <li><a href="#history/1" style="color:#fff">Election History</a></li>
        <li><a href="#survey/1" style="color:#fff">Survey</a></li>
        <li><a href="#report" style="color:#fff">Report</a></li>
        <li><a href="#form" style="color:#fff">Communication</a></li>
        <li><a href="#AllfundsManagent" style="color:#fff">Funds</a></li>
        <li><a href="#beneficiary/1" style="color:#fff">Beneficiary</a></li>
        <li><a href="#grievience/1" style="color:#fff">Grivience</a></li>
    </ul>
  
</nav>-->