<div class="container">
   
    <div class="row" style="box-shadow: 0px 0px 26px 0px rgba(136, 136, 136, 0.7);padding:20px;border-radius:5px;margin-top:40px;">
        <h2 style="margin-bottom: 20px;text-align: center;">About Us</h2>
        <p>Rajneethi Political consulting specializes in political communication, Constituency Profiling and strategy,campaign management, media, digital and social media strategy, polling.</p>

        <p>Our business arena is focused mainly around the study, creation and implementation of strategies designed to optimize the political actions of our clients to make their chosen objectives a reality.</p>

        <p> Our political consultants work with MLAs, MPs, any election candidates, elected officials, campaigns and political parties in India and other Asian Countries.</p>

        <p>Rajneethi uses strategic planning and the mobilization and organization of the grassroots. We put special emphasis on exhaustive investigation, the full use of new technologies and a creative visual image.</p>

        <p> Our team is made up of experts in the different areas that intervene in the making of optimal communication in the field of Politics: strategy,contents, design & creativity,audiovisual production,new medias, economics and logistics.</p>

        <p> Our team consists of people from the leading institutions like IIMs,IITs and VTU. IT entrepreneurs,Professional Campaign management expertise NRIs, Political Science Phds on Research, Mass Communication people to do the data handling.</p>

        <p>We have our operations in Karnataka, Andhra Pradesh, Tamil Nadu, Kerala, West Bengal, Maharashtra,J&K, Punjab, Haryana, Himachal Pradesh, Uttar Pradesh, Uttaranchal, Bihar, Chattisgarh, Rajasthan, M.P., Gujarat, Delhi.</p>

        <p>We don't do politics. Our mission is to help the politicians in the execution of their decisions. We help find the best solution for each situation, creating and applying strategies aimed at obtaining the desired results.</p>


    </div>
</div>

<!--<div class="footer-bottom " style="background-color:#d8d7d7;margin-top: 130px;padding:20px">

    <div class="container text-center">

        <div class="row ">

            <div class="col-xs-12">

                <div class="copyright">

                    Copyright © 2017 Rajneethi

                </div>

            </div>

           
        </div>

    </div>

</div>-->
