<div class="container-white">
    <div class="containerNew circles">
        <div class="row">
            <div data-wow-delay="0.5s" class="col-md-4 span3 wow rollIn" style="visibility: visible; animation-delay: 0.5s; animation-name: rollIn;">
                <p class="circle bg-green" style="line-height:45px;">
                    <a href="#caste-equation/{{projectId}}" style="position:relative;top:50px;">
                      Cast  Equations
                    </a>
                </p>
            </div>
            <div data-wow-delay="0.5s" class="col-md-4 span3 wow bounceInDown center" style="visibility: visible; animation-delay: 0.5s; animation-name: bounceInDown;">
                <p class="circle bg-purple wow animated" height="200" style="visibility: visible;line-height:45px;">
                    <a href="#survey/{{projectId}}" style="position:relative;top:50px;">
                        Survey<br> Report
                        </a>
                    </p>
            </div>
            <div data-wow-delay="0.5s" class="col-md-4 span3 wow lightSpeedIn" style="visibility: visible; animation-delay: 0.5s; animation-name: lightSpeedIn;">
                <p class="circle bg-blue"  style="line-height:45px;">
                    <a href="#history/{{projectId}}" style="position:relative;top:50px;">Swot<br>Analysis</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 span3 wow rollIn center" style="visibility: visible; animation-name: rollIn;">
                <p class="circle bg-red wow animated" height="200" style="visibility: visible;">
                    <a href="#beneficiary/1">Beneficiary</a>
                </p>
            </div>
            <div data-wow-iteration="5" data-wow-duration="0.15s" class="col-md-4 span3 wow pulse" style="visibility: visible; animation-duration: 0.15s; animation-iteration-count: 5; animation-name: pulse;">
                <p class="circle bg-yellow">
                    <a href="#grievience/1">Grivience</a>
                </p>
            </div>
            <div class="col-md-4 span3 wow bounceInRight center" style="visibility: visible; animation-name: bounceInRight;">
                <p class="circle bg-red wow animated" height="200" style="visibility: visible;">
                    <a href="#AllfundsManagent">Funds</a>
                </p>
            </div>
        </div>
        
        <div class="row">
             <div data-wow-delay="0.5s" class="col-md-4 span3 wow rollIn" style="visibility: visible; animation-delay: 0.5s; animation-name: rollIn;">
                <p class="circle  bg-blue ">
                     <a href="#jobs/1">
                        Jobs
                    </a>
                </p>
            </div>
             <div data-wow-delay="0.5s" class="col-md-4 span3 wow rollIn" style="visibility: visible; animation-delay: 0.5s; animation-name: rollIn;">
                <p class="circle bg-purple wow animated" height="200" style="visibility: visible;">
                    <a href="#form">Communicate</a>
                </p>
            </div>
           <div data-wow-delay="0.5s" class="col-md-4 span3 wow lightSpeedIn" style="visibility: visible; animation-delay: 0.5s; animation-name: lightSpeedIn;">
                <p class="circle bg-green">
                    <a href="">Property</a>
                </p>
            </div>
            <!--<div class="col-md-4 span3 wow bounceInRight" style="visibility: visible; animation-name: bounceInRight;">
                <p class="circle bg-purple">many anims	</p>
            </div>-->
         </div>
        </div>

<div class="container-white" style="text-align: center;">
    <div class="containerNew">
        <div class="row">
            <div class="span12 center">
                <!--<h1 data-wow-iteration="3" data-wow-duration="0.15" class="wow pulse" style="visibility: visible; animation-iteration-count: 3; animation-name: pulse;">
                    <img src="https://wowjs.uk/img/wow-logo.jpg" height="177" alt="wow.js">
                </h1>-->
                <div class="spiel" data-wow-duration="0.5s">
                    lorem 🤴 lorem lipsum lorem lipsum
                    <a target="_blank" href="http://www.rajneethi.com/" title="Animate.css">About Rajneethi </a>Friend :-)
                    <br>
                    lorem 😃😃😃😃 🤴 lipsum lorem 😎: lorem lipsum lorem lipsum lorem lipsum...
                    <br>
                    lorem lipsum lorem 😎 lorem lipsum.
                    <br>
                    lorem 😎 lorem 🤴 lorem 🤴🤴🤴.
                </div>
            </div>
        </div>
    </div>
</div>




